<p>This is the about view.</p>

<p>
  <button type="button" class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
  <button type="button" class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
</p>
<uib-accordion close-others="oneAtATime">
  <div uib-accordion-group class="panel-default" heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
    This content is straight in the template.
  </div>
  <div uib-accordion-group class="panel-default" heading="{{group.title}}" ng-repeat="group in groups">
    {{group.content}}
  </div>
</uib-accordion>

<p>{{ afterParseVal }}</p>
<input type="text" ng-model="beforeParseVal" />

<div class="row">
  <div class="col-md-6">
    <p class="input-group">
      <input type="text" class="form-control" name="name" value=""
        uib-datepicker-popup="{{format}}"
        ng-model="dt"
        is-open="popup1.opened"
        datepicker-options="dateOptions"
        ng-required="true"
        close-text="Close"
        alt-input-formats="altInputFormats" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default"
          name="button"
          ng-click="open1()">
            <i class="glyphicon"></i>
        </button>
      </span>
    </p>
  </div>
</div>
